
@{
    ViewBag.Title = "CreateCollectRequest";
}

<h2>Create Collect Request</h2>
<form method="post">
    <label for="foodName">Food Name:</label>
    <input type="text" id="foodName" name="FoodName"><br>

    <label for="foodQuantity">Food Quantity:</label>
    <input type="number" id="foodQuantity" name="FoodQuantity"><br>

    <label for="time-difference">Max Time:</label>
    <input type="number" id="time-difference" name="Hours" placeholder="Hours"> : 
    <input type="number" id="time-difference" name="Minutes" placeholder="Minutes">
    <br>
    <input type="hidden" id="contact" name="Contact">
    <input type="hidden" id="status" name="Status" value="Open">
    <input type="submit" value="Submit">
</form>


