
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h1>Employee Login</h1>
        <form action="" method="post">
            <div>
                <input type="text" id="email" name="Email" placeholder="Email" class="forn form-control">
                <span class="text-danger">@Html.ValidationMessage("Email")</span>
            </div>
            <br />
            <div>
                <input type="password" id="password" name="Password" placeholder="Password" class="forn form-control">
                <span class="text-danger">@Html.ValidationMessage("Password")</span>
            </div>
            <br />
            <button type="submit" class="btn btn-default">Sign in</button>
            <br />
            <div>
                <a href="/Login/LoginResturant">Resturant Login</a>
                <br />
                <a href="">Can't access your account?</a>
            </div>
        </form> 
    </div>
</body>
</html>
